# Traffic Crashes - People

Analysis of traffic crashes encompassing information of people involved sourced from the Data Portal of the City of Chicago under the Transportation Category.



> Source:


> https://data.cityofchicago.org/Transportation/Traffic-Crashes-People/u6pd-qa9d


### Steps:

The following steps will be taken:

1.   Java, Spark and Findspark Installation
2.   Environment Variables Setup
3.   Spark Session Starting
4.   Dataset Importing
5.   Data Viewing
6.   Data Cleaning
7.   Data Wrangling
8.   Data Analysis
9.   More Analysis
9.   Conclusion

### 1.  Java, Spark and Findspark Installation


Through this step, I am installing Java, Spark and Findspark

In [ ]:
%%bash
apt-get install openjdk-8-jdk-headless -qq > /dev/null
[ ! -e "$(basename spark-2.4.4-bin-hadoop2.7.tgz)" ] && wget  http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
tar xf spark-2.4.4-bin-hadoop2.7.tgz
pip install -q findspark

### 2.   Enviroment Variables Setup

Through this step, I am defining the locations where both Java and Spark are to be installed.

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

### 3.   Spark Session Starting

Through this step, I am starting my spark session.

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

### 4.   Dataset Importing


Through this step, I am importing and uploading the dataset on the Google Colab sheet.

In [ ]:
from google.colab import files
files.upload()

Saving Traffic_Crashes_-_People-2.csv to Traffic_Crashes_-_People-2 (1).csv

### 5. Data Viewing

Through the below steps, I am observing the dataset and deciding what type of analysis I want to implement.

In [ ]:
!ls

 sample_data			'Traffic_Crashes_-_People-2 (1).csv'
 spark-2.4.4-bin-hadoop2.7	 Traffic_Crashes_-_People-2.csv
 spark-2.4.4-bin-hadoop2.7.tgz

In [ ]:
dataset = spark.read.csv('Traffic_Crashes_-_People-2.csv',inferSchema=True, header =True)

In [ ]:
dataset.columns

['PERSON_ID',
 'PERSON_TYPE',
 'RD_NO',
 'VEHICLE_ID',
 'CRASH_DATE',
 'SEAT_NO',
 'CITY',
 'STATE',
 'ZIPCODE',
 'SEX',
 'AGE',
 'DRIVERS_LICENSE_STATE',
 'DRIVERS_LICENSE_CLASS',
 'SAFETY_EQUIPMENT',
 'AIRBAG_DEPLOYED',
 'EJECTION',
 'INJURY_CLASSIFICATION',
 'HOSPITAL',
 'EMS_AGENCY',
 'EMS_RUN_NO',
 'DRIVER_ACTION',
 'DRIVER_VISION',
 'PHYSICAL_CONDITION',
 'PEDPEDAL_ACTION',
 'PEDPEDAL_VISIBILITY',
 'PEDPEDAL_LOCATION',
 'BAC_RESULT',
 'BAC_RESULT VALUE',
 'CELL_PHONE_USE']

In [ ]:
dataset.dtypes

[('PERSON_ID', 'string'),
 ('PERSON_TYPE', 'string'),
 ('RD_NO', 'string'),
 ('VEHICLE_ID', 'int'),
 ('CRASH_DATE', 'string'),
 ('SEAT_NO', 'int'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIPCODE', 'string'),
 ('SEX', 'string'),
 ('AGE', 'int'),
 ('DRIVERS_LICENSE_STATE', 'string'),
 ('DRIVERS_LICENSE_CLASS', 'string'),
 ('SAFETY_EQUIPMENT', 'string'),
 ('AIRBAG_DEPLOYED', 'string'),
 ('EJECTION', 'string'),
 ('INJURY_CLASSIFICATION', 'string'),
 ('HOSPITAL', 'string'),
 ('EMS_AGENCY', 'string'),
 ('EMS_RUN_NO', 'string'),
 ('DRIVER_ACTION', 'string'),
 ('DRIVER_VISION', 'string'),
 ('PHYSICAL_CONDITION', 'string'),
 ('PEDPEDAL_ACTION', 'string'),
 ('PEDPEDAL_VISIBILITY', 'string'),
 ('PEDPEDAL_LOCATION', 'string'),
 ('BAC_RESULT', 'string'),
 ('BAC_RESULT VALUE', 'double'),
 ('CELL_PHONE_USE', 'string')]

In [ ]:
dataset.printSchema()

root
 |-- PERSON_ID: string (nullable = true)
 |-- PERSON_TYPE: string (nullable = true)
 |-- RD_NO: string (nullable = true)
 |-- VEHICLE_ID: integer (nullable = true)
 |-- CRASH_DATE: string (nullable = true)
 |-- SEAT_NO: integer (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- ZIPCODE: string (nullable = true)
 |-- SEX: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- DRIVERS_LICENSE_STATE: string (nullable = true)
 |-- DRIVERS_LICENSE_CLASS: string (nullable = true)
 |-- SAFETY_EQUIPMENT: string (nullable = true)
 |-- AIRBAG_DEPLOYED: string (nullable = true)
 |-- EJECTION: string (nullable = true)
 |-- INJURY_CLASSIFICATION: string (nullable = true)
 |-- HOSPITAL: string (nullable = true)
 |-- EMS_AGENCY: string (nullable = true)
 |-- EMS_RUN_NO: string (nullable = true)
 |-- DRIVER_ACTION: string (nullable = true)
 |-- DRIVER_VISION: string (nullable = true)
 |-- PHYSICAL_CONDITION: string (nullable = true)
 |-- PEDPEDAL_ACTION: string (nullable = true)
 |-- PEDPEDAL_VISIBILITY: string (nullable = true)
 |-- PEDPEDAL_LOCATION: string (nullable = true)
 |-- BAC_RESULT: string (nullable = true)
 |-- BAC_RESULT VALUE: double (nullable = true)
 |-- CELL_PHONE_USE: string (nullable = true)

In [ ]:
dataset.show()

+---------+-----------+--------+----------+--------------------+-------+-------------+-----+-------+---+----+---------------------+---------------------+----------------+------------------+--------+---------------------+--------+----------+----------+--------------------+-------------+------------------+---------------+-------------------+-----------------+----------------+----------------+--------------+
|PERSON_ID|PERSON_TYPE|   RD_NO|VEHICLE_ID|          CRASH_DATE|SEAT_NO|         CITY|STATE|ZIPCODE|SEX| AGE|DRIVERS_LICENSE_STATE|DRIVERS_LICENSE_CLASS|SAFETY_EQUIPMENT|   AIRBAG_DEPLOYED|EJECTION|INJURY_CLASSIFICATION|HOSPITAL|EMS_AGENCY|EMS_RUN_NO|       DRIVER_ACTION|DRIVER_VISION|PHYSICAL_CONDITION|PEDPEDAL_ACTION|PEDPEDAL_VISIBILITY|PEDPEDAL_LOCATION|      BAC_RESULT|BAC_RESULT VALUE|CELL_PHONE_USE|
+---------+-----------+--------+----------+--------------------+-------+-------------+-----+-------+---+----+---------------------+---------------------+----------------+------------------+--------+---------------------+--------+----------+----------+--------------------+-------------+------------------+---------------+-------------------+-----------------+----------------+----------------+--------------+
|      O10|     DRIVER|HY368708|        10|08/04/2015 12:40:...|   null|      CHICAGO|   IL|  60641|  M|null|                 null|                 null|   USAGE UNKNOWN|    NOT APPLICABLE|    NONE| NO INDICATION OF ...|    null|      null|      null|     FAILED TO YIELD|      UNKNOWN|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|     O100|     DRIVER|HY374018|        96|07/31/2015 05:50:...|   null|    ELK GROVE|   IL|  60007|  M|null|                 null|                 null|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|FOLLOWED TOO CLOSELY|      UNKNOWN|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|    O1000|     DRIVER|HY407431|       954|09/02/2015 11:45:...|   null|      CHICAGO|   IL|   null|  M|  31|                   IL|                    D|   USAGE UNKNOWN|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|             UNKNOWN|      UNKNOWN|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|   O10000|     DRIVER|HY484148|      9561|10/31/2015 09:30:...|   null|       SKOKIE|   IL|  60076|  M|  29|                   IL|                    D|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|                NONE| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100001|     DRIVER|HZ525619|     96762|11/15/2016 05:45:...|   null|         null| null|   null|  X|null|                 null|                 null|   USAGE UNKNOWN|DEPLOYMENT UNKNOWN| UNKNOWN| NO INDICATION OF ...|    null|      null|      null|             UNKNOWN|      UNKNOWN|           UNKNOWN|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100002|     DRIVER|HZ525619|     96754|11/15/2016 05:45:...|   null|      CHICAGO|   IL|  60619|  F|  63|                 null|                 null|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|                NONE| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100003|     DRIVER|HZ525629|     96757|11/22/2016 01:45:...|   null|    PARKRIDGE|   IL|   null|  F|  20|                   IL|                    D|   USAGE UNKNOWN|DEPLOYMENT UNKNOWN|    NONE| NO INDICATION OF ...|    null|      null|      null|FOLLOWED TOO CLOSELY| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100004|     DRIVER|HZ525629|     96755|11/22/2016 01:45:...|   null|      CHICAGO|   IL|  60646|  M|  18|                   IL|                    D|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...| REFUSED|      null|      null|                NONE| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100005|     DRIVER|HZ525606|     96759|11/19/2016 06:35:...|   null|BUFFALO GROVE|   IL|  60089|  F|  30|                   IL|                 null|   USAGE UNKNOWN|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|IMPROPER LANE CHANGE|      UNKNOWN|           UNKNOWN|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100006|     DRIVER|HZ525606|     96760|11/19/2016 06:35:...|   null|      CHICAGO|   IL|  60625|  M|  50|                   IL|                    D|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|                NONE| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100007|     DRIVER|HZ525655|     96763|11/17/2016 11:30:...|   null|         null| null|   null|  X|null|                 null|                 null|   USAGE UNKNOWN|DEPLOYMENT UNKNOWN| UNKNOWN| NO INDICATION OF ...|    null|      null|      null|             UNKNOWN|      UNKNOWN|           UNKNOWN|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100009|     DRIVER|HZ525664|     96768|11/22/2016 04:00:...|   null|      CHICAGO|   IL|  60614|  M|  30|                   IL|                    D|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|FOLLOWED TOO CLOSELY|      UNKNOWN|           UNKNOWN|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|   O10001|     DRIVER|HY484182|      9562|10/31/2015 10:15:...|   null|      CHICAGO|   IL|  60641|  F|  20|                   IL|                    D|   USAGE UNKNOWN|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|             UNKNOWN|      UNKNOWN|           UNKNOWN|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100010|     DRIVER|HZ525664|     96770|11/22/2016 04:00:...|   null|      CHICAGO|   IL|  60622|  M|  33|                   CO|                    R|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|                NONE| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100011|     DRIVER|HZ525684|     96775|11/22/2016 02:45:...|   null|      CHICAGO|   IL|  60640|  M|null|                 null|                 null|   USAGE UNKNOWN|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|FOLLOWED TOO CLOSELY| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100012|     DRIVER|HZ525684|     96780|11/22/2016 02:45:...|   null|      CHICAGO|   IL|  60636|  M|  46|                   IL|                    D|   USAGE UNKNOWN|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|                NONE| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100013|     DRIVER|HZ525690|     96771|11/22/2016 06:00:...|   null|      CHICAGO|   IL|  60629|  M|  20|                   IL|                    D|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|     FAILED TO YIELD| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100014|     DRIVER|HZ525690|     96777|11/22/2016 06:00:...|   null|         null| null|   null|  M|null|                 null|                 null|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|                NONE| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100015|     DRIVER|HZ525688|     96773|11/22/2016 05:40:...|   null|     EVANSTON|   IL|  60202|  M|  65|                   IL|                    D|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|     FAILED TO YIELD| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
|  O100016|     DRIVER|HZ525688|     96776|11/22/2016 05:40:...|   null|      CHICAGO|   IL|  60618|  M|  54|                   IL|                    D|SAFETY BELT USED|    DID NOT DEPLOY|    NONE| NO INDICATION OF ...|    null|      null|      null|                NONE| NOT OBSCURED|            NORMAL|           null|               null|             null|TEST NOT OFFERED|            null|          null|
+---------+-----------+--------+----------+--------------------+-------+-------------+-----+-------+---+----+---------------------+---------------------+----------------+------------------+--------+---------------------+--------+----------+----------+--------------------+-------------+------------------+---------------+-------------------+-----------------+----------------+----------------+--------------+
only showing top 20 rows

### 6. Data Cleaning

Through the below steps, I am examining the dataset and performing necessary cleaning tasks.
First, I am removing the columns that will not be utilized to conduct the analysis. Second, I am dropping rows that contain NaN or null values. Third, I am converting uppercase titles into lowercase tittles. In addition, I am removing duplicates.

In [ ]:
columns_to_drop = ['PERSON_ID','RD_NO','VEHICLE_ID','SEAT_NO','SAFETY_EQUIPMENT','DRIVERS_LICENSE_CLASS','AIRBAG_DEPLOYED','EJECTION','INJURY_CLASSIFICATION','HOSPITAL','EMS_AGENCY','EMS_RUN_NO','PEDPEDAL_ACTION','PEDPEDAL_VISIBILITY','PEDPEDAL_LOCATION','BAC_RESULT','BAC_RESULT VALUE','CELL_PHONE_USE']
cleanedDataset = dataset.drop(*columns_to_drop)
print(cleanedDataset.columns)

['PERSON_TYPE', 'CRASH_DATE', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE', 'DRIVERS_LICENSE_STATE', 'DRIVER_ACTION', 'DRIVER_VISION', 'PHYSICAL_CONDITION']

In [ ]:
cleanedDataset.dropna().count()

402162

In [ ]:
cleanedDataset = cleanedDataset.dropna(how='any', subset=None)

In [ ]:
display(cleanedDataset)

DataFrame[PERSON_TYPE: string, CRASH_DATE: string, CITY: string, STATE: string, ZIPCODE: string, SEX: string, AGE: int, DRIVERS_LICENSE_STATE: string, DRIVER_ACTION: string, DRIVER_VISION: string, PHYSICAL_CONDITION: string]

In [ ]:
for col in cleanedDataset.columns:
  cleanedDataset = cleanedDataset.withColumnRenamed(col, col.lower())
display(cleanedDataset.columns)

['person_type',
 'crash_date',
 'city',
 'state',
 'zipcode',
 'sex',
 'age',
 'drivers_license_state',
 'driver_action',
 'driver_vision',
 'physical_condition']

In [ ]:
cleanedDataset = cleanedDataset.dropDuplicates()
display(cleanedDataset)

DataFrame[person_type: string, crash_date: string, city: string, state: string, zipcode: string, sex: string, age: int, drivers_license_state: string, driver_action: string, driver_vision: string, physical_condition: string]

### 7.   Data Wrangling

Through the below steps, I am changing crash_date format to show only MM/dd/yyyy and I am filtering the age comlumn to show values that range from 16 and up because according to the United States law one must be 16 years old to obtain a Driving Lincense. In addition, I am adding a column displaying only the year (yyyy) to facilitate my analysis.

In [ ]:
from pyspark.sql.functions import to_date
cleanedDataset = cleanedDataset.withColumn('crash_date', to_date(cleanedDataset.crash_date, 'MM/dd/yyyy'))

In [ ]:
cleanedDataset.select(["crash_date"]).show(20)

+----------+
|crash_date|
+----------+
|2016-11-22|
|2016-11-23|
|2016-11-25|
|2016-11-24|
|2016-11-25|
|2016-11-18|
|2016-11-29|
|2016-11-29|
|2016-12-02|
|2016-12-03|
|2016-12-04|
|2016-12-05|
|2016-12-05|
|2016-12-05|
|2016-12-06|
|2016-12-06|
|2016-12-07|
|2016-12-07|
|2016-12-09|
|2016-12-09|
+----------+
only showing top 20 rows

In [ ]:
cleanedDataset = cleanedDataset.filter(cleanedDataset['age']>=16)
cleanedDataset.show()

+-----------+----------+------------+-----+-------+---+---+---------------------+--------------------+-------------+------------------+
|person_type|crash_date|        city|state|zipcode|sex|age|drivers_license_state|       driver_action|driver_vision|physical_condition|
+-----------+----------+------------+-----+-------+---+---+---------------------+--------------------+-------------+------------------+
|     DRIVER|2016-11-22|       ALSIP|   IL|  60803|  F| 39|                   IL|                NONE| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-11-23|     CHICAGO|   IL|  60637|  M| 43|                   IL|               OTHER| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-11-25|     CHICAGO|   IL|  60634|  M| 30|                   IL|     FAILED TO YIELD|      UNKNOWN|            NORMAL|
|     DRIVER|2016-11-24|     CHICAGO|   IL|  60643|  M| 21|                   IL|             UNKNOWN|      UNKNOWN|           UNKNOWN|
|     DRIVER|2016-11-25|  DES MOINES|   IA|  50315|  F| 26|                   IA|                NONE| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-11-18|  CREST HILL|   IL|  60403|  F| 20|                   IL|    IMPROPER BACKING|      UNKNOWN|           UNKNOWN|
|     DRIVER|2016-11-29|  BROOKFIELD|   IL|  60513|  M| 27|                   IL|                NONE|      UNKNOWN|            NORMAL|
|     DRIVER|2016-11-29|     CHICAGO|   IL|  60657|  M| 33|                   SC|                NONE| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-02|     CHICAGO|   IL|  60620|  M| 78|                   IL|               OTHER| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-03|     CHICAGO|   IL|  60614|  F| 32|                   IL|               OTHER| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-04|     CHICAGO|   IL|  60642|  M| 31|                   IL|                NONE| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-05|     CHICAGO|   IL|  60628|  M| 27|                   IL|TOO FAST FOR COND...| NOT OBSCURED|           UNKNOWN|
|     DRIVER|2016-12-05|    EVANSTON|   IL|  60203|  F| 40|                   IL|             UNKNOWN|TREES, PLANTS|            NORMAL|
|     DRIVER|2016-12-05|     CHICAGO|   IL|  60659|  M| 56|                   IL|                NONE| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-06|CALUMET CITY|   IL|  60409|  M| 66|                   IL|                NONE| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-06|     CHICAGO|   IL|  60625|  M| 27|                   IL|                NONE| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-07|  PLAINFIELD|   IL|  60586|  M| 42|                   IL|               OTHER| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-07|     CHICAGO|   IL|  60659|  M| 24|                   MO|     FAILED TO YIELD| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-09|      SUMMIT|   IL|  60501|  M| 50|                   IL|               OTHER| NOT OBSCURED|            NORMAL|
|     DRIVER|2016-12-09|     CHICAGO|   IL|  60641|  F| 46|                   IL|FOLLOWED TOO CLOSELY| NOT OBSCURED|            NORMAL|
+-----------+----------+------------+-----+-------+---+---+---------------------+--------------------+-------------+------------------+
only showing top 20 rows

In [ ]:
import datetime
from pyspark.sql.functions import year
cleanedDataset = cleanedDataset.withColumn("year", year(cleanedDataset['crash_date']))
cleanedDataset.show()

+-----------+----------+------------+-----+-------+---+---+---------------------+--------------------+-------------+------------------+----+
|person_type|crash_date|        city|state|zipcode|sex|age|drivers_license_state|       driver_action|driver_vision|physical_condition|year|
+-----------+----------+------------+-----+-------+---+---+---------------------+--------------------+-------------+------------------+----+
|     DRIVER|2016-11-22|       ALSIP|   IL|  60803|  F| 39|                   IL|                NONE| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-11-23|     CHICAGO|   IL|  60637|  M| 43|                   IL|               OTHER| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-11-25|     CHICAGO|   IL|  60634|  M| 30|                   IL|     FAILED TO YIELD|      UNKNOWN|            NORMAL|2016|
|     DRIVER|2016-11-24|     CHICAGO|   IL|  60643|  M| 21|                   IL|             UNKNOWN|      UNKNOWN|           UNKNOWN|2016|
|     DRIVER|2016-11-25|  DES MOINES|   IA|  50315|  F| 26|                   IA|                NONE| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-11-18|  CREST HILL|   IL|  60403|  F| 20|                   IL|    IMPROPER BACKING|      UNKNOWN|           UNKNOWN|2016|
|     DRIVER|2016-11-29|  BROOKFIELD|   IL|  60513|  M| 27|                   IL|                NONE|      UNKNOWN|            NORMAL|2016|
|     DRIVER|2016-11-29|     CHICAGO|   IL|  60657|  M| 33|                   SC|                NONE| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-02|     CHICAGO|   IL|  60620|  M| 78|                   IL|               OTHER| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-03|     CHICAGO|   IL|  60614|  F| 32|                   IL|               OTHER| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-04|     CHICAGO|   IL|  60642|  M| 31|                   IL|                NONE| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-05|     CHICAGO|   IL|  60628|  M| 27|                   IL|TOO FAST FOR COND...| NOT OBSCURED|           UNKNOWN|2016|
|     DRIVER|2016-12-05|    EVANSTON|   IL|  60203|  F| 40|                   IL|             UNKNOWN|TREES, PLANTS|            NORMAL|2016|
|     DRIVER|2016-12-05|     CHICAGO|   IL|  60659|  M| 56|                   IL|                NONE| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-06|CALUMET CITY|   IL|  60409|  M| 66|                   IL|                NONE| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-06|     CHICAGO|   IL|  60625|  M| 27|                   IL|                NONE| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-07|  PLAINFIELD|   IL|  60586|  M| 42|                   IL|               OTHER| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-07|     CHICAGO|   IL|  60659|  M| 24|                   MO|     FAILED TO YIELD| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-09|      SUMMIT|   IL|  60501|  M| 50|                   IL|               OTHER| NOT OBSCURED|            NORMAL|2016|
|     DRIVER|2016-12-09|     CHICAGO|   IL|  60641|  F| 46|                   IL|FOLLOWED TOO CLOSELY| NOT OBSCURED|            NORMAL|2016|
+-----------+----------+------------+-----+-------+---+---+---------------------+--------------------+-------------+------------------+----+
only showing top 20 rows

### 8.   Data Analysis

Through the below steps, I am focusing only on crashes involving female and male drivers, therefore I will be dropping rows containg other values sush as passangers, animals, U and X driver under the person_type column. Then, I will identify the number of crashes involving female and male drivers at different ages. Lastly, I will identify what years there have been more crashes.

In [ ]:
cleanedDataset.groupBy('sex').count().show()

+---+------+
|sex| count|
+---+------+
|  F|160290|
|  M|237000|
|  U|    21|
|  X|   281|
+---+------+

In [ ]:
cleanedDataset = cleanedDataset.filter("sex == 'M' or sex == 'F' ")
cleanedDataset.groupBy('sex').count().show()

+---+------+
|sex| count|
+---+------+
|  F|160290|
|  M|237000|
+---+------+

In [ ]:
cleanedDataset.filter("sex =='M'").groupBy('age').count().sort("age").show()

+---+-----+
|age|count|
+---+-----+
| 16|  472|
| 17| 1364|
| 18| 2543|
| 19| 3077|
| 20| 3665|
| 21| 4405|
| 22| 5087|
| 23| 5633|
| 24| 6119|
| 25| 6472|
| 26| 6428|
| 27| 6738|
| 28| 6460|
| 29| 6217|
| 30| 6009|
| 31| 5847|
| 32| 5636|
| 33| 5568|
| 34| 5310|
| 35| 5378|
+---+-----+
only showing top 20 rows

In [ ]:
cleanedDataset.filter("sex =='F'").groupBy('age').count().sort("age").show()

+---+-----+
|age|count|
+---+-----+
| 16|  422|
| 17| 1057|
| 18| 1844|
| 19| 2226|
| 20| 2812|
| 21| 3438|
| 22| 3996|
| 23| 4712|
| 24| 5179|
| 25| 5313|
| 26| 5282|
| 27| 5190|
| 28| 5003|
| 29| 4849|
| 30| 4377|
| 31| 4338|
| 32| 4093|
| 33| 4016|
| 34| 3864|
| 35| 3807|
+---+-----+
only showing top 20 rows

In [ ]:
cleanedDataset.filter("sex =='M'").groupBy('year').count().sort("year").show()

+----+-----+
|year|count|
+----+-----+
|2013|    1|
|2014|    1|
|2015| 6010|
|2016|27211|
|2017|55265|
|2018|80065|
|2019|68447|
+----+-----+

In [ ]:
cleanedDataset.filter("sex =='F'").groupBy('year').count().sort("year").show()

+----+-----+
|year|count|
+----+-----+
|2014|    5|
|2015| 4241|
|2016|19651|
|2017|37748|
|2018|53055|
|2019|45590|
+----+-----+

### 9.   More Analysis

Through the below steps, I am looking at the statistics on age and changing the format to show 2 decimals. In addions, I am calculating the correlations and covariance between age and year. Lastly, I am identfying the average age female drivers are involved in traffic crashes in the city of Chicago.

In [ ]:
result = cleanedDataset.select(["age"]).describe()
result.show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|            397290|
|   mean|40.861501673840266|
| stddev|15.343667827654704|
|    min|                16|
|    max|               110|
+-------+------------------+

In [ ]:
from pyspark.sql.functions import format_number
result = cleanedDataset.select(["age"]).describe()
result.select(result['summary'],
              format_number(result['age'].cast('float'),2).alias('age')
             ).show()

+-------+----------+
|summary|       age|
+-------+----------+
|  count|397,290.00|
|   mean|     40.86|
| stddev|     15.34|
|    min|     16.00|
|    max|    110.00|
+-------+----------+

In [ ]:
cleanedDataset.corr('age', 'year')*100

0.08428221118781286

In [ ]:
cleanedDataset.cov('age', 'year')*100

1.3914093298164616

In [ ]:
#List of primary driver actions
cleanedDataset.select("driver_action").distinct().show()

+--------------------+
|       driver_action|
+--------------------+
|LICENSE RESTRICTIONS|
|EVADING POLICE VE...|
|CELL PHONE USE OT...|
|FOLLOWED TOO CLOSELY|
|IMPROPER LANE CHANGE|
|    IMPROPER PARKING|
|TOO FAST FOR COND...|
|             UNKNOWN|
|DISREGARDED CONTR...|
|       IMPROPER TURN|
|    IMPROPER BACKING|
|       OVERCORRECTED|
|               OTHER|
|             TEXTING|
|      WRONG WAY/SIDE|
|    IMPROPER PASSING|
|  STOPPED SCHOOL BUS|
|                NONE|
|     FAILED TO YIELD|
|EMERGENCY VEHICLE...|
+--------------------+

In [ ]:
cleanedDataset.filter( (cleanedDataset["city"]=='CHICAGO') & (cleanedDataset["sex"]=='F') ).count()/cleanedDataset.count() * 100

29.247149437438647

In [ ]:
from pyspark.sql.functions import col, avg
cleanedDataset.select(["age"]).filter( (cleanedDataset["city"]=='CHICAGO') & (cleanedDataset["sex"]=='F') ).agg(avg(col("age"))).show()

+-----------------+
|         avg(age)|
+-----------------+
|40.16679575889015|
+-----------------+

### 9.   Conclusion

The analysis has helped to determine that overall male drivers tend to be involved in crashes more than female drivers in the age range between 20 and 40 years old. In addition, it has helped to learn to use Spark API's. Therefore, I am now able to compare PySpark and Pandas and to evaluate the advantages and disadvantages of using one or the other.

Advantages and Disadvantages:


1.   I found Pandas to be quicker and simplier to learn compared to Pyspark which requires a little more in depth knowledge. When performing the analysis using Pamdas, the codes seemed easier to research and come up with, and more consise and clear, especially when performing routine tasks; whereas, when working with PySpark, I had to attept several times to have one statement to provide the outcome I was looking to attain.
2.   In my opinion, Pandas offers a broader set of features that allow you to complete tasks, such as filtering, segmenting and segragating according to certain conditions in a much simplier and more effective manner.  
1.   I believe that data viewing in Pandas using the code df. head is more appealing as it displays an array with continuos borders; whereas in PySpark, the code df.head shows an output that is unpleasent. For this reason, I prefer to use the code df.show while doing my analysis with PySpark as it allowed me to view my dataset in a more visually engaging manner.